<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mochelins"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".AddActivity2"
            android:exported="false" />
        <activity
            android:name=".user.EditActivity"
            android:exported="false" />
        <activity
            android:name=".user.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".review.ReviewPlaceSelectActivity"
            android:exported="false" />
        <activity
            android:name=".meeting.MeetingUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".review.ReviewCreateActivity"
            android:exported="false" />
        <activity
            android:name=".meeting.MeetingPlaceSelectActivity"
            android:exported="false" />
        <activity
            android:name=".user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".meeting.MeetingCreateActivity"
            android:exported="false" />
        <activity
            android:name=".meeting.MeetingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".review.ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".review.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao5af883665ecf79a7fb4b43ca7f118aac" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.musthave0145.Mochelins.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>